{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main_container %}
    <div class="col-md-12 my-5">
        <h1 class="display-3">{{ post.title }}</h1>
        <hr>
        <h6>{{ post.date ? post.Date|date('Y-m-d') : '' }}</h6>
        <br>
        Views: <span>{{ post.views }}</span>
        <br><br>
        {{ post.text |raw }}
        <hr>
        Tags:
        {% for tag in post.tags %}
            <a href="{{ path("public_site_tag", {'tag': tag.title}) }}" class="badge badge-dark">{{ tag.title }}</a>
        {% else %}
            Not assigned
        {% endfor %}
    </div>
{% endblock %}
